.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding-top: 26px;
  padding-bottom: 26px;
  background-image: linear-gradient(to top, #bfe9ff, #fc63a7);
}

.heading {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 700;
}

.button {
  color: #334155;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
}

.name {
  text-align: center;
  font-family: 'Roboto';
  font-size: 18px;
  border-radius: 12px;
  padding-top: 48px;
  padding-left: 106px;
  padding-right: 106px;
  padding-bottom: 48px;
}
